<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @post_marketing.code %>
</p>

<%= link_to 'Edit', edit_post_marketing_path(@post_marketing) %> |
<%= link_to 'Back', post_marketings_path %>
