<p id="notice"><%= notice %></p>

<p>
  <strong>Soc code:</strong>
  <%= @system_organ_class.soc_code %>
</p>

<%= link_to 'Edit', edit_system_organ_class_path(@system_organ_class) %> |
<%= link_to 'Back', system_organ_classes_path %>
