<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @high_level_term.code %>
</p>

<%= link_to 'Edit', edit_high_level_term_path(@high_level_term) %> |
<%= link_to 'Back', high_level_terms_path %>
