<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @clinical_trial.code %>
</p>

<%= link_to 'Edit', edit_clinical_trial_path(@clinical_trial) %> |
<%= link_to 'Back', clinical_trials_path %>
