<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @class_warning.code %>
</p>

<%= link_to 'Edit', edit_class_warning_path(@class_warning) %> |
<%= link_to 'Back', class_warnings_path %>
