<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adverse_reaction_type.name %>
</p>

<%= link_to 'Edit', edit_adverse_reaction_type_path(@adverse_reaction_type) %> |
<%= link_to 'Back', adverse_reaction_types_path %>
